{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StuLogin</title>
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.1/jquery.js"> </script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"> </script>
</head>

<body>
<form action="{% url 'app:stulogin' %}" method="POST" >
    <span>用户名：</span><input type="text" name="username" placeholder="请输入用户名">
    <br>
    <span>密码：</span><input type="text" name="password" placeholder="请输入你的密码">
    <br>

    {% csrf_token %}
{#    <input type="hidden" name="csrfmiddlewaretoken" value="i7oTbGDXYcWNXSRXkMuvin1QkP70kwWJk7TbVaiLfS8l5U5mE5CV50isHVWWWKmG">#}
    <span>验证码：</span> <input type="text" name = "verify_code" placeholder="请输入下图的验证码">
    <br>
    <img src="{% url 'app:get_code' %}">
    <br>

    <button>登录</button>
</form>
<a href="{% url 'app:register' %}" methods="GET"><button>注册一个账号</button> </a>
</body>
</html>